*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    padding: 10px 80px;
    justify-content: space-between;
    align-items: center;
}
.manus ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
/* banner */
.banner{
    width: 100v;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-description{
    width: 50%;
    text-align: left;
}
.btn{
    color: white;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 40%;
    border: none;
    margin-top: 10px;
}
.banner-img{
    width: 50%;
    text-align: center;
    background-image: url(./images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-img img{
    width: 70%;
    padding: 15px;
}